$main-font: Montserrat, Helvetica, Arial;

// colors

$header-color: #FF5854;

$yellow: #FFBE63;
$grey-blue: #3E6AA3;
$footer-color: #2B2B2B;

$light-blue: #4ccede;
$grey-blue: #0083C3;
$pink-red: #DB487E;
$green-yellow: #D5E739;
$purple: #492861;
$teal: #167378;
$orange: #FF6C2F;

// heights

$header-height: 100px;
$footer-height: 80px;
$logo-size: 7em;
$logo-offset: 10px;
